.add_btn {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    text-align: right;
}
.add_btn a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #545454;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #9CF2D3;
}

.add_btn a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
#stock_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#stock_table tr th,
#stock_table tr td {
    border: 1px solid #B9B9B9;
    padding: 10px;
}

#stock_table tr th {
    background-color: #E1E1E2;
}

#stock_table tr th:nth-of-type(1) {
    width: 160px;
}
#stock_table tr th:nth-of-type(2) {
    min-width: 250px;
}
#stock_table tr th:nth-of-type(3) {
    width: 130px;
}

#stock_table .stock_item_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search_bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.search_input, .form_input, #submit_btn, .show_all_btn {
    height: 100%;
    font-size: 16px;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

.search_input {
    width: 800px;
    margin-right: 10px;
}

.form_input {
    width: 40%;
}

#submit_btn {
    width: 80px;
    height: 35px; /* 高さを調整 */
    font-size: 16px;
    background-color: #fbe3f9;
    color: #545454;
    border: none;
    border-radius: 0.5rem;
    margin-right: 10px;
}

.show_all_btn {
    margin-left: 10px;
    margin-top: -10px;
}

.show_all_btn button {
    width: 100px;
    height: 35px; /* 高さを調整 */
    font-size: 16px;
    background-color: #fbe3f9;
    color: #545454;
    border: none;
    border-radius: 0.5rem;
}